{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>aboutme</title>
</head>
<body>
<header style="background-color: #101010; height: 0px;width: 0%">
    <img src="https://image.freepik.com/free-psd/festive-copy-space-design-wallpaper-mockup_53876-57754.jpg" width="1685">
   </header><br>
<p style="font-family:apple chancery">
<section id="skill">
		<div class="container">
			<!-- section title -->
			<center><h2 class="section-title wow fadeInUp"><p style="color:white;">Skills</p></h2></center>
			<div class="spacer" data-height="60"></div>
			<div class="row">
				<div class="col-md-12 triangle-left-md triangle-top-sm">
					<div class="rounded bg-medium shadow-light padding-30">
						<div class="row">
							<div class="col-4">
								<div class="skill-item">
									<div class="skill-info clearfix">
										<h4 class="float-left mb-3 mt-0">Programming Lanuage</h4>
									</div>
									<div class="spacer" data-height="20"></div>
								</div>
								<div class="skill-item">
									<div class="skill-info clearfix">
										<h4 class="float-left mb-3 mt-0">Back-End</h4>
									</div>
									<div class="spacer" data-height="20"></div>
								</div>
								<div class="skill-item">
									<div class="skill-info clearfix">
										<h4 class="float-left mb-3 mt-0">Front-End</h4>
									</div>
									<div class="spacer" data-height="20"></div>
								</div>
								<div class="skill-item">
									<div class="skill-info clearfix">
										<h4 class="float-left mb-3 mt-0">API</h4>
									</div>
									<div class="spacer" data-height="20"></div>
								</div>
								<div class="skill-item">
									<div class="skill-info clearfix">
										<h4 class="float-left mb-3 mt-0">Tools</h4>
									</div>
									<div class="spacer" data-height="20"></div>
								</div>
								<div class="skill-item">
									<div class="skill-info clearfix">
										<h4 class="float-left mb-3 mt-0">Operating System</h4>
									</div>
									<div class="spacer" data-height="20"></div>
								</div>
							</div>
							<div class="col-6">
								<div class="skill-item">
									<div class="skill-info clearfix">
										<h4 class="float-left mb-3 mt-0 ml-4">Python</h4>
									</div>
									<div class="spacer" data-height="20"></div>
								</div>
								<div class="skill-item">
									<div class="skill-info clearfix">
										<h4 class="float-left mb-3 mt-0 ml-4">Django,SQL</h4>
									</div>
									<div class="spacer" data-height="20"></div>
								</div>
								<div class="skill-item">
									<div class="skill-info clearfix">
										<h4 class="float-left mb-3 mt-0 ml-4">HTML5, Bootstrap</h4>
									</div>
									<div class="spacer" data-height="20"></div>
								</div>
								<div class="skill-item">
									<div class="skill-info clearfix">
										<h4 class="float-left mb-3 mt-0 ml-4">Django Framework</h4>
									</div>
									<div class="spacer" data-height="20"></div>
								</div>
								<div class="skill-item">
									<div class="skill-info clearfix">
										<h4 class="float-left mb-3 mt-0 ml-4">Github</h4>
									</div>
									<div class="spacer" data-height="20"></div>
								</div>
								<div class="skill-item">
									<div class="skill-info clearfix">
										<h4 class="float-left mb-3 mt-0 ml-4">Windows</h4>
									</div>
									<div class="spacer" data-height="20"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- row end -->
		</div>
	</section>
<h4>I Naga Sarath Nizampatnam.
    I am looking for a junior software engineer or related position in a reputed software company that can help me to achieve my goal.
    <br>I am Fresher in web site development and building and customization, also I am good at Python and Django.<br></h4><br>
<div class="skill-info clearfix">
    <h4 class="float-left mb-3 mt-0">Phone Number:7675008311</h4>
</div>
<div class="spacer" data-height="20"></div>
<div class="skill-item">
    <div class="skill-info clearfix">
        <h4 class="float-left mb-3 mt-0">Email:meet.infosarathbabu@gmail.com</h4>
    </div>
    <div class="spacer" data-height="20"></div>
</div>
<div class="skill-item">
    <div class="skill-info clearfix">
        <h4 class="float-left mb-3 mt-0">Address:Nagulapadu,<br>PedanandiPadu,<br>Guntur(DT)<br>Andhra Pradesh</h4>
        <h4 class="float-right mb-3 mt-0"></h4>
    </div>
    <div class="spacer" data-height="20"></div>
</div>
</p>
</body>
</html>
{% endblock %}